@use "color";
@use "size";
@use "space";

* {
  box-sizing: border-box;
}

body {
  margin: space.$small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: size.$text;
  background: color.$desk;
  color: color.$pencil;
}

p,
h1 {
  margin: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.app {
  color: color.$ink;
  display: flex;
  flex-direction: column;
  gap: space.$huge;
  margin: 0 auto;
  width: min(600px, 90%);
}
